<h1>Show post page</h1>

<h3><%= @post.title %></h3>

<% if @post.tags %>
  <% @post.tags.each do |tag| %>
    <h6><%= tag.name %></h6>
  <% end %>
<% end %>


<p id="edit_post" data-post="<%= @post.id %>"><%= @post.content %></p>

<form action='/delete_post' method='post'>
  <input type='hidden' name='post_id' value='<%= @post.id %>'>
  <input type='submit' value='Delete This Post'>
</form>


<a href='/show_all'>See All posts</a>
<a href='/edit_post/<%= @post.id %>'>Edit</a>

